body {
  color: $base-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4 {
  font-family: $heading-font-family;
}
p {
  @include rem(margin, 40px 0);
}
